{% extends "blog/base.html" %}
{% block content %}
<style>
/* browser reset */

* {
margin: 0;
padding: 0;
}


/* list styles */

ol {
list-style: none;
color: #ccc;
}

ol li {
font: bold 24pt helvetica, arial, sans-serif;
position: relative;
margin-bottom: 20px;
}

li p {
font: 12pt helvetica, arial, sans-serif;
color: #555;
padding-left: 60px;
}

span {
position: absolute;
line-height: 25px;
}

</style>
<button type="button" id="first" class="btn">章程</button>
<button type="button" id="second" class="btn btn-default">歷屆理監事會</button>
<button type="button" class="btn btn-primary">入會申請表下載</button>

<div style="display:none" class="first">
<ol>
  <p>中華民國國立臺北大學公共行政暨政策學系系友會章程第一章總則</p>
<li><span>1</span><p>　本會名稱為中華民國國立臺北大學公共行政暨政策學系系友會（以下簡稱本會）。</p></li>
<li><span>2</span><p>　本會為依法設立、非以營利為目的之社會團體，以凝聚系友情誼，加強系友團結，促進系友間事業合作並協助母校發展，弘揚本系精神並為宗旨。</p></li>
<li><span>3</span><p>　本會以全國行政區域為組織區域。</p></li>
<li><span>4</span><p>　本會會址設於主管機關所在地區，並得報經主管機關核准設分支機構。前項分支機構組織簡則由理事會擬訂，報請主管機關核准後行之。會址及分支機構之地址於設置及變更時應函報主管機關核備。</p></li>
<li><span>5</span><p>　本會之任務如下：一、建構系友聯繫平台，加強系友間情誼。二、促進社會大眾對公共行政、公共政策相關專業之認識。三、輔導系友進修及就業，謀求系友之權益。四、爭取系友協助母系及系友會會務發展。五、其他有關促進本會宗旨之相關事項。</p></li>
<li><span>6</span><p>　本會之主管機關為內政部。本會之目的事業應受各該事業主管機關之指導、監督。第二章會員</p></li>
<li><span>7</span><p>　本會會員分下列四種：一、一般會員：凡贊同本會宗旨、年滿二十歲、具有下列資格之一者，填具入會申請書，經理事會通過，並繳納入會費後，為個人會員。1.前台灣省立地方行政專科學校民政科畢業者。2.台灣省立行政專修班普通行政科及教育行政科畢業者。3.前台灣省立法商學院行政學系畢業者。4.前台灣省立中興大學行政學系畢業者。5.前台灣省立中興大學公共行政學系(日、夜間部)畢業者。6.前國立中興大學公共行政學系(日、夜間部)畢業者。7.前國立中興大學公共行政暨政策研究所畢業者。8.前國立中興大學公共政策研究所(含博士班)畢業者。9.國立臺北大學公共行政暨政策學系(含進修學士班)畢業者。10.曾任職本系之教職員(含助理)。11.本系所開設之各項學分班課程畢業者。二、永久會員：凡贊同本會宗旨之一般會員填具申請書，一次繳納永久會費新台幣參仟元者，為永久會員。三、榮譽會員：凡對母校或本會有特殊貢獻者，經理監事聯席會議通過者，為榮譽會員。四、學生預備會員：凡贊同本會宗旨，現就讀於母系（含進修學士班）同學，填具入會申請書，經理事會通過，為學生會員。</p></li>
<li><span>8</span><p>　會員（會員代表）有表決權、選舉權、被選舉權與罷免權。每一會員（會員代表）為一權。榮譽會員及學生預備會員無前項權利。</p></li>
<li><span>9</span><p>　會員有遵守本會章程、決議及繳納會費之義務。會員未繳納會費者，不得享有會員權利；連續2年未繳納會費者，視為自動退會。會員經出會、退會或停權處分，如欲申請復會或復權時，除有正當理由並經理事會審核通過者外，應繳清前所積欠之會費。</p></li>
<li><span>10</span><p>　會員（會員代表）有違反法令，章程或不遵守會員大會決議時，得經理事會決議，予以警告或停權處分，其危害團體情節重大者，得經會員大會決議予以除名。</p></li>
<li><span>11</span><p>　會員有下列情事之一者，為出會：一、喪失會員資格者。二、經會員大會決議除名者。</p></li>
<li><span>12</span><p>　會員得以書面敘明理由向本會聲明退會。第三章組織及職權</p></li>
<li><span>13</span><p>　本會以會員大會為最高權力機構。會員（會員代表）人數超過三百人以上時得分區比例選出會員代表，再召開會員代表大會，行使會員大會職權。會員代表任期三年，其各名額及選舉辦法由理事會擬訂，報請主管機關核備後行之。</p></li>
<li><span>14</span><p>　會員（會員代表）大會之職權如下：一、訂定與變更章程。二、選舉及罷免理事、監事。三、議決入會費、常年會費、事業費及會員捐款之數額及方式。四、議決年度工作計畫、報告及預算、決算。五、議決會員（會員代表）之除名處分。六、議決財產之處分。七、議決本會之解散。八、議決與會員權利義務有關之其他重大事項。前項第八款重大事項之範圍由理事會定之。</p></li>
<li><span>15</span><p>　本會置理事二十七人、監事九人，由會員（會員代表）選舉之，分別成立理事會、監事會。選舉前項理事、監事時，依計票情形得同時選出候補理事三人，候補監事一人，遇理事、監事出缺時，分別依序遞補之。</p></li>
<li><span>16</span><p>　理事會之職權如下：一、審定會員（會員代表）之資格。二、選舉及罷免常務理事、理事長。三、議決理事、常務理事及理事長之辭職。四、聘免工作人員。五、擬訂年度工作計畫、報告及預算、決算。六、其他應執行事項。</p></li>
<li><span>17</span><p>　理事會置常務理事九人，由理事互選之，並由理事就常務理事中選舉一人為理事長。理事長對內綜理督導會務，對外代表本會，並擔任會員大會、理事會主席。本會置副理事長二人，其選任方式與理事長同。理事長因事不能執行職務時，應指定副理事長一人代理之，未指定或不能指定時，由副理事長互推一人代理之。理事長、副理事長、常務理事出缺時，應於一個月內補選之。</p></li>
<li><span>18</span><p>　監事會之職權如下：一、監察理事會工作之執行。二、審核年度決算。三、選舉及罷免常務監事。四、議決監事及常務監事之辭職。五、其他應監察事項。</p></li>
<li><span>19</span><p>　監事會置常務監事三人，由監事互選之。常務監事互推一人為監事會召集人，監察日常會務，並擔任監事會召集人。監事會召集人因事不能執行職務時，應指定常務監事一人代理之，未指定或不能指定時，由常務監事互推一人代之。監事會主席（常務監事）出缺時應於一個月內補選之。</p></li>
<li><span>20</span><p>　理事、監事均為無給職，任期三年，連選得連任。理事長之連任，以一次為限。理事、監事之任期自召開本屆第一次理事會之日起計算。</p></li>
<li><span>21</span><p>　理事、監事有下列情事之一者，應即解任：一、喪失會員（會員代表）資格者。二、因故辭職經理事會或監事會決議通過者。三、被罷免或撤免者。四、受停權處分期間逾任期二分之一者。</p></li>
<li><span>22</span><p>　本會置秘書長一人，承理事長之命處理本會事務，其他工作人員若干人，均由理事長提名經理事會通過聘免之，並報主管機關備查。前項工作人員不得由理事監事擔任。工作人員權責及分層負責事項由理事會另定之。</p></li>
<li><span>23</span><p>　本會得設各種委員會、小組或其他內部作業組織，其組織簡則經理事會通過後施行，變更時亦同。</p></li>
<li><span>24</span><p>　本會得由理事會聘請名譽理事長、名譽理事、顧問若干人，其聘期與理事、監事之任期同。第四章會議</p></li>
<li><span>25</span><p>　會員（會員代表）大會分定期會議與臨時會議二種，由理事長召集，召集時除緊急事故之臨時會議外應於十五日前以書面通知之。定期會議每年召開一次，臨時會議於理事會認為必要，或經會員（會員代表）五分之一以上之請求，或監事會函請召集時召開之。本會辦理法人登記後，臨時會議經會員（會員代表）十分之一以上之請求召開之。</p></li>
<li><span>26</span><p>　會員（會員代表）不能親自出席會員大會時，得以書面委託其他會員（會員代表）代理，每一會員（會員代表）以代理一人為限。</p></li>
<li><span>27</span><p>　會員（會員代表）大會之決議，以會員（會員代表）過半數之出席，出席人數較多數之同意行之。但下列事項之決議以出席人數三分之二以上同意行之。一、章程之訂定與變更。二、會員（會員代表）之除名。三、理事、監事之罷免。四、財產之處分。五、本會之解散。六、其他與會員權利義務有關之重大事項。本會辦理法人登記後，章程之變更以出席人數四分之三以上之同意或全體會員三分之二以上書面之同意行之。本會之解散，得隨時以全體會員三分之二以上之可決解散之。</p></li>
<li><span>28</span><p>　理事會每六個月召開一次，監事會每六個月召開一次，必要時得召開聯席會議或臨時會議。前項會議召集時除臨時會議外，應於七日前以書面通知，會議之決議，各以理事、監事過半數之出席，出席人數較多數之同意行之。</p></li>
<li><span>29</span><p>　理事應出席理事會議，監事應出席監事會議，理事會、監事會不得委託出席：理事、監事連續二次無故缺席理事會、監事會者，視同辭職。第五章經費及會計</p></li>
<li><span>30</span><p>　本會經費來源如下：一、入會費：新台幣參佰元，於會員入會時繳納；前系友會會員及學生預備會員免入會費。二、常年會費：新台幣參佰元，學生預備會員會費免會費，永久會員會費參仟元整。三、事業費。四、會員捐款。五、委託收益。六、基金及其孳息。七、其他收入。</p></li>
<li><span>31</span><p>　本會會計年度以曆年為準，自每年一月一日起至十二月三十一日止。</p></li>
<li><span>32</span><p>　本會每年於會計年度開始前二個月由理事會編造年度工作計畫、收支預算表、員工待遇表，提會員大會通過（會員大會因故未能如期召開者，先提理監事聯席會議通過），於會計年度開始前報主管機關核備。並於會計年度終了後二個月內由理事會編造年度工作報告、收支決算表、現金出納表、資產負債表、財產目錄及基金收支表，送監事會審核後，造具審核意見書送還理事會，提會員大會通過，於三月底前報主管機關核備（會員大會未能如期召開者，先報主管機關）。</p></li>
<li><span>33</span><p>　本會於解散後，剩餘財產歸屬所在地之地方自治團體或主管機關指定之機關團體所有。第六章附則</p></li>
<li><span>34</span><p>　本章程未規定事項，悉依有關法令規定辦理。</p></li>
<li><span>35</span><p>　本章程經會員（會員代表）大會通過，報經主管機關核備後施行，變更時亦同。</p></li>
<li><span>36</span><p>　本章程經本會99年8月7日第1屆第1次會員大會通過，報經內政部99年9月13日台內社字第0990176221號函准予備查。本章程經本會102年8月25日第2屆第1次會員大會修正
通過，報經內政部102年10月25日台內團字第1020333508號函准予備查。</p></li>

   </ol>
 </div>

<div  style="display:none" class="second">
  <table width="100%" border="0" cellpadding="0">
                                     <tr>
              <td width="15" valign="top"><img src="http://pa.ntpu.edu.tw/template/ch/images/com-icon-3.png" alt=" " width="13" height="17" /></td>
              <td width="80" valign="top" class="font-gray-15">附件檔案：</td>
              <td bgcolor="#dddddd"><table width="100%" border="0" cellpadding="1" cellspacing="1">
                <tr>
                  <td bgcolor="#ffffff"><table width="100%" cellpadding="4" cellspacing="1" id="attachTable" summary="附件檔案">
                    <tr>
                      <th>檔案名稱</th>
                      <th width="12%">檔案大小</th>
                      <th width="12%">檔案格式</th>
                      <th width="15%">刊登日期</th>
                      <th width="12%">檔案下載</th>
                    </tr>
				                       <tr>
                      <td><a href="http://pa.ntpu.edu.tw/index.php/download/index/1547/0" target="_blank" >第三屆理監事</a></td>
                      <td>171.93 KB</td>
                      <td>pdf</td>
                      <td>2017-11-10</td>
                      <td><a href="http://pa.ntpu.edu.tw/index.php/download/index/1547/0" target="_blank" ><img src="http://pa.ntpu.edu.tw/template/ch/images/com-icon-file.png" alt="檔案下載：第三屆理監事" width="18" height="19" /></a></td>
                    </tr>
					                    <tr>
                      <td><a href="http://pa.ntpu.edu.tw/index.php/download/index/970/0" target="_blank" >第二屆理監事</a></td>
                      <td>92.6 KB</td>
                      <td>pdf</td>
                      <td>2014-10-14</td>
                      <td><a href="http://pa.ntpu.edu.tw/index.php/download/index/970/0" target="_blank" ><img src="http://pa.ntpu.edu.tw/template/ch/images/com-icon-file.png" alt="檔案下載：第二屆理監事" width="18" height="19" /></a></td>
                    </tr>
					                    <tr>
                      <td><a href="http://pa.ntpu.edu.tw/index.php/download/index/969/0" target="_blank" >第一屆理監事</a></td>
                      <td>94.66 KB</td>
                      <td>pdf</td>
                      <td>2014-10-14</td>
                      <td><a href="http://pa.ntpu.edu.tw/index.php/download/index/969/0" target="_blank" ><img src="http://pa.ntpu.edu.tw/template/ch/images/com-icon-file.png" alt="檔案下載：第一屆理監事" width="18" height="19" /></a></td>
                    </tr>
					                  </table></td>
                </tr>
              </table></td>
            </tr>
                     </table>
</div>

 <script>
 $("#first").click(function(){
     $(".second").hide();
     $(".first").show();
 });
 $("#second").click(function(){
     $(".first").hide();
     $(".second").show();
 })
 </script>
{% endblock %}
