{% extends "blog/base.html" %}
{% block content %}
<style>
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.flex h1{
  margin-top: 150px
}

h1 {
  text-align: center;
  font-size: 60px;
  color: #ffffff;
}

p {
  margin: 20px auto 75px auto;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  width: 600px;
}
p a {
  -webkit-transition: color 0.2s linear, border-bottom 0.2s linear;
  transition: color 0.2s linear, border-bottom 0.2s linear;
  border-bottom: 2px solid white;
  text-decoration: none;
  color: #ffffff;
  margin: 0 5px;
}
p a:hover {
  border-bottom: 2px solid #FF7F50;
  color: #FF7F50;
}

/* Flex style */
.flex {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  width: 50vw;
}
.flex div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: flex-grow 0.5s ease-in-out, -webkit-box-flex 0.5s ease-in-out;
  transition: flex-grow 0.5s ease-in-out, -webkit-box-flex 0.5s ease-in-out;
  transition: flex-grow 0.5s ease-in-out;
  transition: flex-grow 0.5s ease-in-out, -webkit-box-flex 0.5s ease-in-out, -ms-flex-positive 0.5s ease-in-out;
}
.flex div:hover {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

</style>

<div class="jumbotron chinesefont">
    <div class="container">
<h1>關於這個網站</h1>

<div class="flex">
  <div style="background-color:coral;">
    <h1 align="center">溝通</h1>
  </div>
  <div style="background-color:lightblue;">
    <h1 align="center">聯繫</h1>
  </div>
  <div style="background-color:khaki;">
    <h1 align="center">交流</h1>
  </div>
</div>
</div>
</div>


{% endblock %}
