{% extends "blog/base.html" %}

{% block content %}
<div class="jumbotron">
  <h2 class="chinesefont" align="center">寄信給所有會員</h2>

  <form method="POST">
       {% csrf_token %}
       <label>標題：</label>
       <input type="text" name="subject_input" value="">
       <p></p>
        <label>內容：</label>
        <p></p>
      <textarea id="content_input" rows="10" cols="100" name="content_input"></textarea>
      <p> </p>
      <input type="submit" value="GO">
  </form>
  <p>{{message}}</p>

  <a href="{% url 'admin_page' %}">回到管理系統頁面</a>
</div>
{% endblock %}
